.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  padding: 4%;
  border-radius: 8px;
}

.formTitle {
  font-family: 'Anton SC';
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2% 0;
}

.rowName,
.rowLocation {
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.label {
  color: #212121;
  font-family: 'Poppins';
  font-weight: bold;
}

.input {
  color: #212121;
  font-family: 'Poppins';
  border-radius: 8px;
  border: solid 1px #212121;
  height: 100%;
  padding: 5px;
  background-color: #f9f9f9;
}

.submitButton {
  color: #f9f9f9;
  font-family: 'Poppins';
  padding: 8px;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1
    both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 both;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (max-width: 1000px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 4%;
    border-radius: 8px;
  }

  .formTitle {
    font-family: 'Anton SC';
    font-size: 1.5rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2% 0;
  }

  .rowName,
  .rowLocation {
    display: flex;
    flex-direction: column;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .label {
    color: #212121;
    font-family: 'Poppins';
    font-weight: bold;
  }

  .input {
    color: #212121;
    font-family: 'Poppins';
    border-radius: 8px;
    border: solid 1px #212121;
    height: 100%;
    padding: 5px;
    background-color: #f9f9f9;
  }

  .submitButton {
    color: #f9f9f9;
    font-family: 'Poppins';
    padding: 8px;
    background-color: #212121;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-7 15:25:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
